:root{
    --color-theme-1: #8198A7;
    --color-theme-2: #3F6275;
    --color-theme-3: #E8DBCE;
    --color-theme-4: #F0C6AD;
    --color-theme-5: #D79176;
}

body{
    margin: 0;
    padding: 0;
    color:white;
}

header{
    background-color: rgb(53, 53, 53);
    color: #fff;
    height: auto;
}

header label a{
    text-decoration: none;
    color: white;
}

header label a:hover{
    color: rgb(112, 112, 112);
    transition: 0.2s;
}

header .link, header label{
    height: 50px;
}

header .link a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 13px 10px;
    text-align:center;
    font-weight: 500;
}

header .link:hover{
    background-color: rgb(112, 112, 112);
    transition: 0.2s;
}

header label{
    font-size: 25px;
    font-weight: 700;
    padding: 8px;
}

body{
    position: relative;
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

footer{
    background-color: rgb(53, 53, 53);
    position:absolute;
    bottom:0;
    width: 100%;
    color: white;
    
}

.conteneur-footer{
    display: flex;
    margin: auto;
    padding: 40px;
}

.colon-footer{
    padding: 10px;
}

.colon-footer p{
    font-weight: bold;
    font-size: 14pt;
}

.colon-footer a{
    text-decoration: none;
    color: white;
}

.colon-footer div{
    margin-bottom: 20px;
    font-size: 13pt;
}

.colon-footer a:hover{
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.copyright{
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 13pt;
}

.conten-princ{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.titre-page{
    color: white;
    font-weight: 900;
}

.form-group label{
    color: #fff!important;
  }

